<div class="container">
  <h1>Customer Form</h1>
</div>

<div class="container">
    <form [formGroup]="customerUpdateFormGroup">
        <div class="form-group">
        <label for="" class="col-md-2"> First Name</label>
        <input type="text" formControlName="firstName" >
        </div>
        <div class="form-group">
            <label for="" class="col-md-2"> Last Name</label>
            <input type="text" formControlName="lastName">
        </div>
        <div class="form-group">
            <label for="" class="col-md-2"> Date of Birth</label>
            <input type="date" formControlName="birthDate">
        </div>
        <div class="form-group">
            <label for="" class="col-md-2"> Username</label>
            <input type="text" formControlName="username">
        </div>
        <div class="form-group">
            <label for="" class="col-md-2">Password</label>
            <input type="text" formControlName="password">
        </div>
        <div class="form-group">
            <label for="" class="col-md-2"> Phone Number</label>
            <input type="number" formControlName="phoneNumber">
        </div>
        <div class="form-group">
            <label for="" class="col-md 2">Phone Type</label>
            <select id="phonetype" formControlName="phoneType" >
                <option *ngFor="let phonetype of phonetypes">{{phonetype}}</option>
            </select>
        </div>
    </form>
    <button (click)="submitUpdateGroup()">Submit</button>
    <button (click)="cancelChange()">Cancel</button>
</div>
