<div class="container">
  <h1>Customer Form</h1>
</div>

<div class="container">
    <form [formGroup]="customerUpdateFormGroup">
        <div class="form-group">
        <label> First Name</label>
        <input type="text" formControlName="firstName" class="form-control col-md-6" placeholder="Input First Name" required>
        </div>
        <div class="form-group">
            <label> Last Name</label>
            <input type="text" formControlName="lastName" class="form-control col-md-6" placeholder="Input Last Name" required>
        </div>
        <div class="form-group">
            <label> Date of Birth</label>
            <input type="date" formControlName="birthDate" class="form-control col-md-3">
        </div>
        <div class="form-group">
            <label> Username</label>
            <input type="text" formControlName="username" class="form-control col-md-6" placeholder="Input Username" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control col-md-3" required>
        </div>
        <div class="form-group">
            <label for="" class="col-md-2"> Phone Number</label>
            <input type="text" formControlName="phoneNumber" class="form-control col-md-3" required>
        </div>
        <div class="form-group">
            <label for="" class="col-md 2">Phone Type</label>
            <select id="phonetype" formControlName="phoneType" class="form-control col-md-2" required>
                <option *ngFor="let phonetype of phonetypes">{{phonetype}}</option>
            </select>
        </div>
    </form>
    <button (click)="submitUpdateGroup()">Submit</button>
    <button (click)="cancel()">Cancel</button>
</div>
<br>