<div>
<h1 style="text-align: center">LIST CUSTOMER</h1>
</div>
<div class="container">
<app-cust-form #formCustomer *ngIf="showDetail" [cust]="selectedCust" (result)="prosesResult($event)"></app-cust-form>
<app-add-cust *ngIf="showCreated" [cust]="selectedCust" (result)="prosesResult($event)"></app-add-cust>
</div>

<div class="container">
    <button type="button" class="btn btn-primary" routerLink="/formAdd"><i class="fa fa-plus">Add</i></button>
</div><br>
<div class="container">
  <div class="col-md-12">
  <table class="table">
  <thead>
    <th scope="col">Id</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Birtd Date</th>
    <th scope="col">Username</th>
    <th scope="col">Password</th>
    <th scope="col">Phone Number</th>
    <th scope="col">Phone Type</th>
    <th scope="col">Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let cust of listCust">
      <td>{{cust.customerNumber | pipe}}</td>
      <td>{{cust.firstName}}</td>
      <td>{{cust.lastName}}</td>
      <td>{{cust.birthDate}}</td>
      <td>{{cust.username}}</td>
      <td>{{cust.password}}</td>
      <td>{{cust.phoneNumber}}</td>
      <td>{{cust.phoneType}}</td>
      <td><button class="btn btn-warning" (click)="selectCust(cust);"><i class="fa fa-edit"></i></button>
        <button (click)="deleteId(cust.customerNumber);" class="btn btn-danger"><i class="fa fa-trash"></i></button>
        <button (click)="viewAccount(cust);" class="btn btn-success"><i class="fa fa-eye"></i></button></td>
    </tr>
  </tbody>
</table>
</div>
</div>

