<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav container">
        <a class="nav-item nav-link" href="#"><i class="fa fa-home lg"></i></a>
        <a class="nav-item nav-link" routerLink="/cust">Customer<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/account">Account</a>
        <a class="nav-item nav-link" routerLink="/transaction">Transaction</a>
      </div>
    </div>
</nav>