<div> 
    <h1 class="container">form-add</h1>
    </div>
      <div class="container">
        <form [formGroup]="addForm">
        <div class="form-row">
          <div class="form-group col-md-6">
          <label for="" class="col-md-4">First Name</label>
          <input type="text" formControlName="firstName" class="form-control" required>
        </div>
        <div class="form-group col-md-6">
          <label for="" class="col-md-4">Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" required>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-md-2">birth date</label>
          <input type="date" formControlName="birthDate" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="" class="col-md-2">Username</label>
          <input type="text" formControlName="username" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="" class="col-md-2">Password</label>
          <input type="password" formControlName="password" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="" class="col-md-2">Phone Number</label>
          <input type="text" formControlName="phoneNumber" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="" class="col-md-2">Phone type</label>
          <select formControlName="phoneType" class="form-control" required>
            <option *ngFor="let type of phonetypes" [ngValue]='type'>{{type}}</option>
          </select>
        </div>
        <button (click)="submitAddGroup()" [disabled]="!addForm.valid">Submit</button>
        <button>Cancel</button>
      </form>
      </div>