<div class="container">
  <h1>Account Form Edit</h1>
</div>

<div class="container">
  <form [formGroup]="accountUpdateForm">
        <input type="hidden" formControlName="accountNumber" >
      <div class="form-group">
          <label for="" class="col-md-2"> Open Date</label>
          <input type="date" formControlName="openDate" class="form-control col-md-3" >
      </div>
      <div class="form-group">
          <label for="" class="col-md-2"> Balance</label>
          <input type="text" formControlName="balance" class="form-control col-md-3">
      </div>
      <div class="form-group">
          <label for="" class="col-md 2">Customer</label>
          <app-combo-customer (customer)="setSelectedCustomer($event)" ></app-combo-customer>
      </div>
  </form>
  <button (click)="submitUpdateGroup()">Submit</button>
  <button (click)="cancel()">Cancel</button>
</div>