<app-trx-form-edit *ngIf="showDataTrx" [transaction]="selectedTransaction" (result)="processResult($event)"></app-trx-form-edit>
<div class="container">
  <h1>Transaction List</h1>
</div>

<div class="container">
  <button class="btn btn-primary" routerLink="/formAddtrx"><i class="fa fa-plus ">Add</i></button>
</div><br>
<div class="container">
  <table class="table">
    <thead>
      <th scope="col">Id</th>
      <th scope="col">Type</th>
      <th scope="col">Amount</th>
      <th scope="col">AmountSign</th>
      <th scope="col">Account</th>
      <th scope="col">Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let trx of transaction">
        <td>{{trx.id}}</td>
        <td>{{trx.type}}</td>
        <td>{{trx.amount}}</td>
        <td>{{trx.amountSign}}</td>
        <td>{{trx.account.accountNumber}}</td>
        <td><button class="btn btn-danger" (click)="deleteTransaction(trx.id)"><i class="fa fa-trash" ></i></button>
          <button class="btn btn-warning"><i class="fa fa-edit"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>