<div class="container">
  <h1>Account List</h1>
</div>

<div class="container">
    <button type="button" class="btn btn-primary" routerLink="/formAddAccount">Tambah</button>
</div><br>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Open Date</th>
            <th scope="col">Balance</th>
            <th scope="col">Customer</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of listAccount">
            <td>{{account.accountNumber}}</td>
            <td>{{account.openDate}}</td>
            <td>{{account.balance | currency}}</td>
            <td>{{account.customer.customerNumber}}</td>
            <td><button class="btn btn-warning" (click)="deleteAccount(account.accountNumber)">delete</button>
              <button class="btn btn-primary" (click)="selectAccount(account)">Edit</button></td>
          </tr>
        </tbody>
      </table>
</div>

<app-acc-form-edit #formAccount *ngIf="showDataAccount" [account]="selectedAccount" (result)="prosesResult($event)"></app-acc-form-edit>